@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    2501 N Patterson Street<br />
    Valdosta, GA 31602<br />
    <abbr title="Phone">P:</abbr>
    229-333-1145
</address>

<address>
    <strong>Support Portal:</strong> <a href="https://ithelpdesk.sgmc.org">ithelpdesk.sgmc.org</a>
</address>
