@page
@model PrinterApp.Pages.LoginModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
</head>
<body>
    <form method="post">
        <div>
            <label for="username">Username:</label>
            <input id="username" name="Username" required />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="Password" required />
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>